<h1>Register a New Team</h1>

<form action="/teams" method="post">
  <label for="name">Name of New Team</label>
  <input id="name" name="name" type="text">
  <br>
  <button type="submit" class="btn btn-warning">Register Team</button>
</form>
